.album-detail {
  background-color: #f5f5f5;
}

.content {
  border: #d5d5d5 solid 1px;
  margin: 0 auto;
  width: 874px;
}

.ply-description {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

.artist-link:hover,
.alubum-link:hover {
  color: #c10d0c;
  text-decoration: underline;
}
