.content-artist {
  width: 874px;
  margin: 0 auto;
  border: 1px #d5d5d5 solid;
}
.artist-detail {
  background-color: #f5f5f5;
}

.artist-img {
  border: 1px #d5d5d5 solid;
}

.navbars{
  border: 1px #d5d5d5 solid;

}
.navbars {
  background-color: #f7f7f7;
}
