.my-music {
  background-color: #f5f5f5;
  margin: 0 auto 0;
}

.not-login {
  width: 866px;
}

div.inner {
  background: url('../../assets/images/mymusic.png') no-repeat;
  background-size: 85%;
  background-position: 80px 110px;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
}

h2 {
  text-indent: -9999px;
}

.btn-login {
  background: url('../../assets/images/mymusic.png') no-repeat;
  background-size: 750px 290px;
  background-position-x: 295px;
  background-position-y: 411px;
  position: relative;
  cursor: pointer;
  display: block;
  width: 154px;
  height: 42px;
  text-indent: -9999px;
  left: 518px;
  bottom: 9rem;
}

.btn-login:hover {
  z-index: 10;
  background-position-x: 0px;
  background-position-y: -248px;
}
