.search-bar input:focus {
  outline: none;
}

.search-bar input {
  text-indent: 1rem;
  font-size: small;
}

.search-bar button {
  background-color: #f5f5f5;
}

.search-bar button:hover {
  background-color: #fff;
}

div > .btn-active {
  border: 1px #d5d5d5 solid;
  border-top: 2px #c20c0c solid;
}
