.audio-player {
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
}

.m-playbar {
  width: 874px;
}

.play-info a:hover {
  text-decoration: underline;
}

.song-title {
  color: white;
}
.song-artist {
  color: #9b9b9b;
}

.duration-text {
  color: #9b9b9b;
}

input[type='range']:hover {
  cursor: pointer;
}
/*横条样式*/
input[type='range'] {
  -webkit-appearance: none; /*清除系统默认样式*/
  height: 6px; /*横条的高度*/
  border-radius: 10px; /*将轨道设为圆角的*/
  box-shadow: 0 1px 1px #def3f8, inset 0 1px 1px #191919; /*轨道内置阴影效果*/
}

/*拖动块的样式*/
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /*清除系统默认样式*/
  height: 12px; /*拖动块高度*/
  width: 12px; /*拖动块宽度*/
  background: #fff; /*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 1px #ddd; /*设置边框*/
}

.volume-ctr {
  transform: translate(332px, -44px) rotate(-90deg);
}

td > a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

td {
  overflow: hidden;
}
.audio-playlist:hover {
  color: #fff;
  background-color: black;
}
