.notfound-c {
  background-color: #f5f5f5;
}
.not-found {
  width: 866px;
  background-color: white;
}

.not-found > div {
  border: #d3d3d3 1px solid;
}

.notfound-img {
  position: relative;
  bottom: 12rem;
  left: 18rem;
  height: 118px;
  width: 400px;
  background: url('../../assets/images/logo.png') no-repeat;
  background-position-x: 12px;
  background-position-y: -405px;
}
